*{
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.hero{
    background-color: #e9e9e9;
    height: auto;
    padding: 50px 0px;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
}
.vertical{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo{
    font-size: 30px;
}
span{
    color: brown;
}
.btn{
    background-color: brown;
    padding: 15px 30px;
    border-radius: 10px;
    color: #e9e9e9;
    border: none;
    font-size: 18px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.content{
    max-width: 450px;
}
.content h1{
    font-size: 45px;
    margin: 20px 0px;
}
.content h3{
    font-size: 28px;
    margin-bottom: 20px;
}
.content h4{
    font-size: 24px;
    margin-bottom: 10px;
}
.content p{
    font-size: 19px;
    margin-bottom: 30px;
}
.photo{
    width: 500px;
    height: 500px;
}
/*   hero    */
.about{
    background-color: #606060;
    height: auto;
    padding: 50px 0px;
}
.main{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.about-text{
    max-width: 400px;
}
.about-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text h5{
    font-size: 28px;
    margin-bottom: 20px;
}

.about-text p{
    font-size: 18px;
    margin-bottom: 30px;
}
.about-text img{
    padding-right: 40px;
}

.service{
    background-color: #101010;
    width: 100%;
    padding: 50px 0;
}
.title h2{
    font-size: 55px;
    color: white;
    text-align: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
}
.card{
    height: auto;
    width: 300px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
}
.card h5{
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}
.pra p{
    font-size: 18px;
    color: #fcfc;
    line-height: 28px;
    margin-bottom: 25px;
}





/*  small */

@media screen and (max-width: 576px) {
    .container, nav, .main, .box{
        flex-direction: column;
    }
    .container{
        padding-left: 30px;
    }
    .back{
        margin-right: 30px;
        margin-left: 10px;
    }
    .about-text{
        margin: 20px;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .card{
        margin: 30px
    }
    .btn{
        margin: 10px 0px;
    }
    
}

/* medium  */

@media screen and (min-width: 576px) and (max-width: 990px) {
    .container, nav .box{
        flex-direction: column;
    }
    img{
        width: 100%;
    }
    .hero{
        padding: 30px;
    }
    .main{
        padding-left: 50px;
    }
    .card{
        margin: 20px;
    }
    .about-text{
        margin-right: 30%;
    }
    .btn{
        margin: 10px 40px 10px 10px;
        padding: 10px;
    }
    
}